# Dependencies
node_modules/
.pnpm-store/

# Build Output
coverage/
dist/
dist-ssr/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment
.env
.env.local
*.local

# Editor/IDE
.idea/
.vscode/*
!.vscode/extensions.json
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?

# OS Files
.DS_Store
Thumbs.db

# Project Specific
pagesCreator.sh
